In [ ]:
select *
from emp
where deptno = 10
    or comm is not NULL
    or sal <= 2000 and deptno=20;

In [ ]:
select *
from emp
where (deptno = 10
    or comm is not NULL
    or sal <= 2000
    )
    and deptno=20;

In [ ]:
select *
from (
select sal as salary, comm as commission
from emp
) x
where salary < 5000

In [ ]:
select ename +' WORKS AS A '+ job as msg
from emp
where deptno=10

In [ ]:
select ename, sal, 
    case 
        when sal <= 2000 then 'UNDERPAID'
        when sal >= 4000 then 'OVERPAID'
    else 'OK'
    end as status
from emp

In [ ]:
select top 5 * 
from emp;

In [ ]:
select top 5 ename, job
from emp
order by newid();

In [ ]:
select *
from emp
where comm is null;

In [ ]:
select coalesce(comm,0)
from emp

In [ ]:
select ename, job
from emp
where deptno in (10,20)
    and (ename like '%i%' or job like '%er')