## Question 1
From the following table write a query in SQL to retrieve all rows and columns from the employee table in the Adventureworks database. Sort the result set in ascending order on jobtitle.

Sample table: humanresources.employee

In [5]:
SELECT *
FROM humanresources.employee
ORDER BY JobTitle;

: Msg 208, Level 16, State 1, Line 1
Invalid object name 'humanresources.employee'.

## Question 2
From the following table write a query in SQL to retrieve all rows and columns from the employee table using table aliasing in the Adventureworks database. Sort the output in ascending order on lastname.

Sample table: person.person

In [ ]:
SELECT Q2.*
FROM Person.Person AS Q2
ORDER BY LastName;

## Question 3
From the following table write a query in SQL to return all rows and a subset of the columns (FirstName, LastName, businessentityid) from the person table in the AdventureWorks database. The third column heading is renamed to Employee_id. Arranged the output in ascending order by lastname.

Sample table: person.person

In [ ]:
SELECT FirstName, LastName, BusinessEntityID AS Employee_id
FROM Person.Person
ORDER BY LastName;