### Question 1
From the following table write a query in SQL to retrieve all rows and columns from the employee table in the Adventureworks database. Sort the result set in ascending order on jobtitle.

Sample table: humanresources.employee

In [1]:
SELECT *
FROM humanresources.employee
ORDER BY JobTitle;

### Question 2
From the following table write a query in SQL to retrieve all rows and columns from the employee table using table aliasing in the Adventureworks database. Sort the output in ascending order on lastname.

Sample table: person.person

In [ ]:
SELECT Q2.*
FROM Person.Person AS Q2
ORDER BY LastName;

### Question 3
From the following table write a query in SQL to return all rows and a subset of the columns (FirstName, LastName, businessentityid) from the person table in the AdventureWorks database. The third column heading is renamed to Employee_id. Arranged the output in ascending order by lastname.

Sample table: person.person

In [ ]:
SELECT FirstName
    , LastName
    , BusinessEntityID AS Employee_id
FROM Person.Person
ORDER BY LastName;

### Question 4
From the following table write a query in SQL to return only the rows for product that have a sellstartdate that is not NULL and a productline of 'T'. Return productid, productnumber, and name. Arranged the output in ascending order on name.

Sample table: production.product

In [ ]:
SELECT ProductID
    , ProductNumber
    , Name
FROM Production.Product
WHERE SellStartDate IS NOT NULL
    AND ProductLine = 'T'
ORDER BY Name;

### Question 5
From the following table write a query in SQL to return all rows from the salesorderheader table in Adventureworks database and calculate the percentage of tax on the subtotal have decided. Return salesorderid, customerid, orderdate, subtotal, percentage of tax column. Arranged the result set in ascending order on subtotal.

Sample table: sales.salesorderheader

In [ ]:
SELECT SalesOrderID
    , CustomerID
    , OrderDate
    , SubTotal
    , (TaxAmt / SubTotal) * 100 AS TaxPercent
FROM Sales.SalesOrderHeader
ORDER BY SubTotal DESC;

### Question 6
From the following table write a query in SQL to create a list of unique jobtitles in the employee table in Adventureworks database. Return jobtitle column and arranged the resultset in ascending order.

Sample table: humanresources.employee

In [ ]:
SELECT DISTINCT JobTitle
FROM HumanResources.Employee
ORDER BY JobTitle;

### Question 7
From the following table write a query in SQL to calculate the total freight paid by each customer. Return customerid and total freight. Sort the output in ascending order on customerid.

Sample table: sales.salesorderheader

In [ ]:
SELECT CustomerID
    , SUM(Freight) AS TotalFreight
FROM Sales.SalesOrderHeader
GROUP BY CustomerID
ORDER BY CustomerID;

### Question 8
From the following table write a query in SQL to find the average and the sum of the subtotal for every customer. Return customerid, average and sum of the subtotal. Grouped the result on customerid and salespersonid. Sort the result on customerid column in descending order.

Sample table: sales.salesorderheader

In [ ]:
SELECT CustomerID
    , SalesPersonID
    , AVG(SubTotal) AS AvgSubTotal
    , SUM(SubTotal) AS SumSubTotal
FROM Sales.SalesOrderHeader
GROUP BY CustomerID
    , SalesPersonID
ORDER BY CustomerID DESC;

### Question 9
From the following table write a query in SQL to retrieve total quantity of each productid which are in shelf of 'A' or 'C' or 'H'. Filter the results for sum quantity is more than 500. Return productid and sum of the quantity. Sort the results according to the productid in ascending order.

Sample table: production.productinventory

In [ ]:
SELECT ProductID
    , SUM(Quantity) AS TotalQuantity
FROM Production.ProductInventory
WHERE Shelf IN ('A', 'C', 'H')
GROUP BY ProductID
HAVING SUM(Quantity) > 500
ORDER BY ProductID;

### Question 10
From the following table write a query in SQL to find the total quantity for a group of locationid multiplied by 10.

Sample table: production.productinventory

In [ ]:
SELECT SUM(Quantity) AS TotalQuantity
FROM Production.ProductInventory
GROUP BY (LocationID * 10);

### Question 11
From the following tables write a query in SQL to find the persons whose last name starts with letter 'L'. Return BusinessEntityID, FirstName, LastName, and PhoneNumber. Sort the result on lastname and firstname.

Sample table: Person.PersonPhone

### Question 12
From the following table write a query in SQL to find the sum of subtotal column. Group the sum on distinct salespersonid and customerid. Rolls up the results into subtotal and running total. Return salespersonid, customerid and sum of subtotal column i.e. sum_subtotal.

Sample table: sales.salesorderheader

### Question 13
From the following table write a query in SQL to find the sum of the quantity of all combination of group of distinct locationid and shelf column. Return locationid, shelf and sum of quantity as TotalQuantity.

Sample table: production.productinventory

### Question 14
From the following table write a query in SQL to find the sum of the quantity with subtotal for each locationid. Group the results for all combination of distinct locationid and shelf column. Rolls up the results into subtotal and running total. Return locationid, shelf and sum of quantity as TotalQuantity.

Sample table: production.productinventory

### Question 15
From the following table write a query in SQL to find the total quantity for each locationid and calculate the grand-total for all locations. Return locationid and total quantity. Group the results on locationid.

Sample table: production.productinventory

### Question 16
From the following table write a query in SQL to retrieve the number of employees for each City. Return city and number of employees. Sort the result in ascending order on city.

Sample table: Person.BusinessEntityAddress

### Question 17
From the following table write a query in SQL to retrieve the total sales for each year. Return the year part of order date and total due amount. Sort the result in ascending order on year part of order date.

Sample table: Sales.SalesOrderHeader

### Question 18
From the following table write a query in SQL to retrieve the total sales for each year. Filter the result set for those orders where order year is on or before 2016. Return the year part of orderdate and total due amount. Sort the result in ascending order on year part of order date.

Sample table: Sales.SalesOrderHeader

### Question 19
From the following table write a query in SQL to find the contacts who are designated as a manager in various departments. Returns ContactTypeID, name. Sort the result set in descending order.

Sample table: Person.ContactType

### Question 20
From the following tables write a query in SQL to make a list of contacts who are designated as 'Purchasing Manager'. Return BusinessEntityID, LastName, and FirstName columns. Sort the result set in ascending order of LastName, and FirstName.

Sample table: Person.BusinessEntityContact