## [SQL Exercises & Solutions](w3resource-SQL-Practice/SQL_Exercises_&_Solutions.ipynb)
25 out of 81 (Excersises can be found on [w3resource.com](https://www.w3resource.com/sql-exercises/adventureworks/adventureworks-exercises.php))

![30](https://progress-bar.dev/30)

### Exercise 1

From the following table write a query in SQL to retrieve all rows and columns from the employee table in the Adventureworks database. Sort the result set in ascending order on jobtitle.

Sample table:

humanresources.employee

In [ ]:
SELECT *
FROM humanresources.employee
ORDER BY JobTitle;

### Exercise 2

From the following table write a query in SQL to retrieve all rows and columns from the employee table using table aliasing in the Adventureworks database. Sort the output in ascending order on lastname.

Sample table:

person.person

In [ ]:
SELECT Q2.*
FROM Person.Person AS Q2
ORDER BY LastName;

### Exercise 3

From the following table write a query in SQL to return all rows and a subset of the columns (FirstName, LastName, businessentityid) from the person table in the AdventureWorks database. The third column heading is renamed to Employee\_id. Arranged the output in ascending order by lastname.

Sample table:

person.person

In [ ]:
SELECT FirstName
    , LastName
    , BusinessEntityID AS Employee_id
FROM Person.Person
ORDER BY LastName;

### Exercise 4

From the following table write a query in SQL to return only the rows for product that have a sellstartdate that is not NULL and a productline of 'T'. Return productid, productnumber, and name. Arranged the output in ascending order on name.

Sample table:

production.product

In [ ]:
SELECT ProductID
    , ProductNumber
    , Name
FROM Production.Product
WHERE SellStartDate IS NOT NULL
    AND ProductLine = 'T'
ORDER BY Name;

### Exercise 5

From the following table write a query in SQL to return all rows from the salesorderheader table in Adventureworks database and calculate the percentage of tax on the subtotal have decided. Return salesorderid, customerid, orderdate, subtotal, percentage of tax column. Arranged the result set in ascending order on subtotal.

Sample table:

sales.salesorderheader

In [ ]:
SELECT SalesOrderID
    , CustomerID
    , OrderDate
    , SubTotal
    , (TaxAmt / SubTotal) * 100 AS TaxPercent
FROM Sales.SalesOrderHeader
ORDER BY SubTotal DESC;

### Exercise 6

From the following table write a query in SQL to create a list of unique jobtitles in the employee table in Adventureworks database. Return jobtitle column and arranged the resultset in ascending order.

Sample table:

humanresources.employee

In [ ]:
SELECT DISTINCT JobTitle
FROM HumanResources.Employee
ORDER BY JobTitle;

### Exercise 7

From the following table write a query in SQL to calculate the total freight paid by each customer. Return customerid and total freight. Sort the output in ascending order on customerid.

Sample table:

sales.salesorderheader

In [ ]:
SELECT CustomerID
    , SUM(Freight) AS TotalFreight
FROM Sales.SalesOrderHeader
GROUP BY CustomerID
ORDER BY CustomerID;

### Exercise 8

From the following table write a query in SQL to find the average and the sum of the subtotal for every customer. Return customerid, average and sum of the subtotal. Grouped the result on customerid and salespersonid. Sort the result on customerid column in descending order.

Sample table:

sales.salesorderheader

In [ ]:
SELECT CustomerID
    , SalesPersonID
    , AVG(SubTotal) AS AvgSubTotal
    , SUM(SubTotal) AS SumSubTotal
FROM Sales.SalesOrderHeader
GROUP BY CustomerID
    , SalesPersonID
ORDER BY CustomerID DESC;

### Exercise 9

From the following table write a query in SQL to retrieve total quantity of each productid which are in shelf of 'A' or 'C' or 'H'. Filter the results for sum quantity is more than 500. Return productid and sum of the quantity. Sort the results according to the productid in ascending order.

Sample table:

production.productinventory

In [ ]:
SELECT ProductID
    , SUM(Quantity) AS TotalQuantity
FROM Production.ProductInventory
WHERE Shelf IN ('A', 'C', 'H')
GROUP BY ProductID
HAVING SUM(Quantity) > 500
ORDER BY ProductID;

### Exercise 10

From the following table write a query in SQL to find the total quantity for a group of locationid multiplied by 10.

Sample table:

production.productinventory

In [ ]:
SELECT SUM(Quantity) AS TotalQuantity
FROM Production.ProductInventory
GROUP BY (LocationID * 10);

### Exercise 11

From the following tables write a query in SQL to find the persons whose last name starts with letter 'L'. Return BusinessEntityID, FirstName, LastName, and PhoneNumber. Sort the result on lastname and firstname.

Sample table:

Person.PersonPhone

In [ ]:
SELECT PH.BusinessEntityID
    , P.FirstName
    , P.LastName
    , PH.PhoneNumber
FROM Person.PersonPhone AS PH
JOIN Person.Person AS P
    ON PH.BusinessEntityID = P.BusinessEntityID
WHERE P.LastName LIKE 'L%'
ORDER BY P.LastName
    , P.FirstName;

### Exercise 12

From the following table write a query in SQL to find the sum of subtotal column. Group the sum on distinct salespersonid and customerid. Rolls up the results into subtotal and running total. Return salespersonid, customerid and sum of subtotal column i.e. sum\_subtotal.

Sample table:

sales.salesorderheader

In [ ]:
SELECT SalesPersonID
    , CustomerID
    , SUM(SubTotal) AS SumSubTotal
FROM sales.salesorderheader
WHERE SalesPersonID IS NOT NULL
GROUP BY ROLLUP(SalesPersonID, CustomerID);

### Exercise 13

From the following table write a query in SQL to find the sum of the quantity of all combination of group of distinct locationid and shelf column. Return locationid, shelf and sum of quantity as TotalQuantity.

Sample table:

production.productinventory

In [ ]:
SELECT LocationID
    , Shelf
    , SUM(Quantity) AS TotalQuantity
FROM production.productinventory
GROUP BY CUBE(LocationID, Shelf);

### Exercise 14

From the following table write a query in SQL to find the sum of the quantity with subtotal for each locationid. Group the results for all combination of distinct locationid and shelf column. Rolls up the results into subtotal and running total. Return locationid, shelf and sum of quantity as TotalQuantity.

Sample table:

production.productinventory

In [ ]:
SELECT LocationID
    , Shelf
    , SUM(Quantity) AS TotalQuantity
FROM production.productinventory
GROUP BY GROUPING SETS(ROLLUP(LocationID, Shelf), CUBE(LocationID, Shelf));

### Exercise 15

From the following table write a query in SQL to find the total quantity for each locationid and calculate the grand-total for all locations. Return locationid and total quantity. Group the results on locationid.

Sample table:

production.productinventory

In [ ]:
SELECT locationid
    , SUM(quantity) AS TotalQuantity
FROM production.productinventory
GROUP BY GROUPING SETS(locationid, ());

### Exercise 16

From the following table write a query in SQL to retrieve the number of employees for each City. Return city and number of employees. Sort the result in ascending order on city.

Sample table: 
- Person.BusinessEntityAddress
- Person.Address

In [ ]:
SELECT A.city
    , COUNT(BA.BusinessEntityID) AS NumberOfEmployees
FROM Person.BusinessEntityAddress BA
JOIN Person.Address AS A
    ON BA.AddressID = A.AddressID
GROUP BY A.City
ORDER BY A.City;

### Exercise 17

From the following table write a query in SQL to retrieve the total sales for each year. Return the year part of order date and total due amount. Sort the result in ascending order on year part of order date.

Sample table:

Sales.SalesOrderHeader

In [ ]:
SELECT YEAR(OrderDate) AS Year
    , SUM(TotalDue) AS TotalDueAmount
FROM Sales.SalesOrderHeader
GROUP BY YEAR(OrderDate)
ORDER BY YEAR(OrderDate);

### Exercise 18

From the following table write a query in SQL to retrieve the total sales for each year. Filter the result set for those orders where order year is on or before 2016. Return the year part of orderdate and total due amount. Sort the result in ascending order on year part of order date.

Sample table:

Sales.SalesOrderHeader

In [ ]:
SELECT DATEPART(YEAR, OrderDate) AS Year
    , SUM(TotalDue) TotalDueAmount
FROM Sales.SalesOrderHeader
WHERE DATEPART(YEAR, OrderDate) <= 2016
GROUP BY DATEPART(YEAR, OrderDate)
ORDER BY DATEPART(YEAR, OrderDate);

### Exercise 19

From the following table write a query in SQL to find the contacts who are designated as a manager in various departments. Returns ContactTypeID, name. Sort the result set in descending order.

Sample table:

Person.ContactType

In [ ]:
SELECT ContactTypeID
    , Name
FROM Person.ContactType
WHERE Name LIKE '%Manager%'
ORDER BY ContactTypeID DESC;

### Exercise 20

From the following tables write a query in SQL to make a list of contacts who are designated as 'Purchasing Manager'. Return BusinessEntityID, LastName, and FirstName columns. Sort the result set in ascending order of LastName, and FirstName.

Sample table:
- Person.BusinessEntityContact
- Person.ContactType
- Person.Person

In [ ]:
SELECT BEC.BusinessEntityID
    , P.LastName
    , P.FirstName
FROM Person.BusinessEntityContact AS BEC
INNER JOIN Person.ContactType AS CT
    ON BEC.ContactTypeID = CT.ContactTypeID
INNER JOIN Person.Person AS P
    ON BEC.PersonID = P.BusinessEntityID
WHERE CT.Name = 'Purchasing Manager'
ORDER BY P.LastName
    , P.FirstName

### Exercise 21

From the following tables write a query in SQL to retrieve the salesperson for each PostalCode who belongs to a territory and SalesYTD is not zero. Return row numbers of each group of PostalCode, last name, salesytd, postalcode column. Sort the salesytd of each postalcode group in descending order. Shorts the postalcode in ascending order.

Sample tables:

- Sales.SalesPerson
- Person.Person
- Person.Address

In [ ]:
SELECT ROW_NUMBER() OVER (
        PARTITION BY A.PostalCode ORDER BY SP.SalesYTD DESC
        ) AS RowNumber
    , P.LastName
    , SP.SalesYTD
    , A.PostalCode
FROM Sales.SalesPerson AS SP
INNER JOIN Person.Person AS P
    ON SP.BusinessEntityID = P.BusinessEntityID
INNER JOIN Person.Address AS A
    ON SP.BusinessEntityID = A.AddressID
WHERE SP.TerritoryID IS NOT NULL
    AND SP.SalesYTD <> 0
ORDER BY A.PostalCode;

### Exercise 22
From the following table write a query in SQL to count the number of contacts for combination of each type and name. Filter the output for those who have 100 or more contacts. Return ContactTypeID and ContactTypeName and BusinessEntityContact. Sort the result set in descending order on number of contacts.

Sample tables:
- Person.BusinessEntityContact
- Person.ContactType

In [ ]:
SELECT BEC.ContactTypeID
        , CT.Name
        , COUNT(BEC.BusinessEntityID) AS NoContacs
FROM Person.BusinessEntityContact AS BEC
JOIN Person.ContactType AS CT
    ON BEC.ContactTypeID = CT.ContactTypeID
GROUP BY BEC.ContactTypeID
        , CT.Name
HAVING COUNT(BEC.BusinessEntityID) > 100
ORDER BY COUNT(BEC.BusinessEntityID) DESC;

### Exercise 23
From the following table write a query in SQL to retrieve the RateChangeDate, full name (first name, middle name and last name) and weekly salary (40 hours in a week) of employees. In the output the RateChangeDate should appears in date format. Sort the output in ascending order on NameInFull.

Sample tables:
- HumanResources.EmployeePayHistory
- Person.Person

In [ ]:
SELECT CONVERT(DATE, EPH.RateChangeDate, 110) AS FormDate
    , CONCAT (
        P.LastName
        , ', '
        , P.FirstName
        , ' '
        , P.MiddleName
        ) AS NameInFull
    , EPH.Rate * 40 AS SalaryInWeek
FROM HumanResources.EmployeePayHistory AS EPH
JOIN Person.Person AS P
    ON EPH.BusinessEntityID = P.BusinessEntityID
ORDER BY NameInFull;

### Exercise 24
From the following tables write a query in SQL to calculate and display the latest weekly salary of each employee. Return RateChangeDate, full name (first name, middle name and last name) and weekly salary (40 hours in a week) of employees Sort the output in ascending order on NameInFull.

Sample tables:
- Person.Person
- HumanResources.EmployeePayHistory

In [ ]:
SELECT CONVERT(DATE, EPH.RateChangeDate, 110) AS FormDate
    , CONCAT (
        P.LastName
        , ', '
        , P.FirstName
        , ' '
        , P.MiddleName
        ) AS NameInFull
    , EPH.Rate * 40 AS SalaryInWeek
FROM HumanResources.EmployeePayHistory AS EPH
JOIN Person.Person AS P
    ON EPH.BusinessEntityID = P.BusinessEntityID
WHERE EPH.RateChangeDate = (
        SELECT MAX(RateChangeDate)
        FROM HumanResources.EmployeePayHistory
        WHERE BusinessEntityID = EPH.BusinessEntityID
        )
ORDER BY NameInFull;

### Exercise 25

From the following table write a query in SQL to find the sum, average, count, minimum, and maximum order quentity for those orders whose id are 43659 and 43664. Return SalesOrderID, ProductID, OrderQty, sum, average, count, max, and min order quantity.

Sample table:

Sales.SalesOrderDetail

In [2]:
SELECT SalesOrderID
    , ProductID
    , OrderQty
    , COUNT(OrderQty) OVER (PARTITION BY SalesOrderID) AS CountOrderQty
    , SUM(OrderQty) OVER (PARTITION BY SalesOrderID) AS SumOrderQty
    , AVG(OrderQty) OVER (PARTITION BY SalesOrderID) AS AvgOrderQty
    , MIN(OrderQty) OVER (PARTITION BY SalesOrderID) AS MinOrderQty
    , MAX(OrderQty) OVER (PARTITION BY SalesOrderID) AS MaxOrderQty
FROM Sales.SalesOrderDetail
WHERE SalesOrderID IN (43659,43664);

SalesOrderID,ProductID,OrderQty,CountOrderQty,SumOrderQty,AvgOrderQty,MinOrderQty,MaxOrderQty
43659,776,1,12,26,2,1,6
43659,777,3,12,26,2,1,6
43659,778,1,12,26,2,1,6
43659,771,1,12,26,2,1,6
43659,772,1,12,26,2,1,6
43659,773,2,12,26,2,1,6
43659,774,1,12,26,2,1,6
43659,714,3,12,26,2,1,6
43659,716,1,12,26,2,1,6
43659,709,6,12,26,2,1,6
43659,712,2,12,26,2,1,6
43659,711,4,12,26,2,1,6
43664,772,1,8,14,1,1,4
43664,775,4,8,14,1,1,4
43664,714,1,8,14,1,1,4
43664,716,1,8,14,1,1,4
43664,777,2,8,14,1,1,4
43664,771,3,8,14,1,1,4
43664,773,1,8,14,1,1,4
43664,778,1,8,14,1,1,4

### Exercise 26

From the following table write a query in SQL to find the sum, average, and number of order quantity for those orders whose ids are 43659 and 43664 and product id starting with '71'. Return SalesOrderID, OrderNumber,ProductID, OrderQty, sum, average, and number of order quantity.

Sample table:

Sales.SalesOrderDetail

### Exercise 27

From the following table write a query in SQL to retrieve the total cost of each salesorderID that exceeds 100000. Return SalesOrderID, total cost.

Sample table:

Sales.SalesOrderDetail

### Exercise 28

From the following table write a query in SQL to retrieve products whose names start with 'Lock Washer'. Return product ID, and name and order the result set in ascending order on product ID column.

Sample table:

Production.Product

### Exercise 29

Write a query in SQL to fetch rows from product table and order the result set on an unspecified column listprice. Return product ID, name, and color of the product.

Sample table:

Production.Product

### Exercise 30

From the following table write a query in SQL to retrieve records of employees. Order the output on year (default ascending order) of hiredate. Return BusinessEntityID, JobTitle, and HireDate.

Sample table:

HumanResources.Employee